<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lista de Productos</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1>Lista de Productos</h1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url( 'initial_catalog' ) }}">Catálogo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true"
                           aria-expanded="false"> Proveedores <span
                                    class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url( 'list_suppliers' ) }}">Ver proveedores</a></li>
                            <li><a href="{{ url( 'new_supplier' ) }}">Añadir proveedor</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true"
                           aria-expanded="false"> Productos <span
                                    class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url( 'list_products' ) }}">Ver productos</a></li>
                            <li><a href="{{ url( 'new_product' ) }}">Añadir producto</a></li>
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="row">
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ flash_message }}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img src="{{ asset('uploads/products/' ~ product.image) }}" alt="Cinque Terre" height="150">
                <h2>{{ product.name }}</h2>
                <p><b>Descripción: </b>{{ product.description }}</p>
                <p><b>Precio: </b>{{ product.price }} <span class="glyphicon glyphicon-euro"></span></p>
                <p><b>Proveedor: </b>{{ product.supplier.name }}</p>
                <p><a class="btn btn-info" role="button" href="{{ url( 'product' , { 'id' : product.id }) }}">Ver»</a>
                    <a class="btn btn-primary" role="button" href="{{ url( 'edit_product' , { 'id' : product.id }) }}">Editar
                        »</a>
                    <a class="btn btn-danger" role="button" href="{{ url( 'delete_product' , { 'id' : product.id }) }}">Eliminar
                        »</a></p>
            </div>
        {% endfor %}
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>